*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("/storage/assets/img/jumbotron.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  background-color: black;

  .schede {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    button {
      padding: 10px 35px;
      margin-bottom: 10px;
      color: white;
      background-color: #0282f9;
      cursor: pointer;

      &:hover {
        background-color: #236fb6;
      }
    }
  }
}

.scheda {
  width: calc((100% / 6) - 56px);
  height: 40%;
  margin: 28px;
  text-align: center;
  cursor: pointer;

  img {
      width: 80%;
      height: 80%;
      margin: 15px;
  }

  span {
      color: white;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0282f9;
  height: 120px;
  width: 100%;

  .icons {
      display: flex;
      justify-content: center;

      section {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          span {
              padding-left: 10px;
          }

          img {
              width: 20%;

              &.prop {
                width: 80px;
                margin-left: 10px ;
              }
          }

          &:hover {
            transform: scale(1.1);
          }
      }
  }
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: white;

        img {
            height: 50px;
            margin: 0 80px;
        }

        li {
        display: inline-block;
        margin: 0 15px;
        
        &.active a {
            border-bottom: 5px solid #0282f9;
            color: #0282f9
        }

        a {
            text-decoration: none;
            padding-bottom: 30px;
            color: black;
        }
        }
  }

  #footer-menu {
    background-image: url("/storage/assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    height: 400px;
    background-color: #1c1c1c;
  
      nav {
        padding: 45px 0;
        display: flex;
        
          div {
            margin: 0 10px;
          }
        
      }
  
      h3 {
        color: white;
        margin-bottom: 10px;
      }
  
      ul {
        list-style-type: none;
        margin-bottom: 10px;
      }
  
      li {
        color: #5b6f7b;
        margin: 2px 0;
      }
  }
  
  #logo-footer {
    img {
      width: 600px;
      height: 100%;
      object-fit: none;
    }
  
  }
  
  #footer-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #303030;
    padding: 30px 0;
  
      .sign-up {
        padding: 10px 20px;
        color: #fff;
        border: 2px solid #0282f9;
      }
  
      .socials {
        color: #0282f9;
        font-size: 20px;
        display: flex;
        align-items: center;
          span {
            margin-right: 20px;
          }
          
          img {
            margin: 0 10px;
            width: 50px;
          }
      }
  }